Repository chipsalliance/f4pga, pull requests merged in 2022-08, with the labels that each got.

#577 QL: EOS-S3: enable new flow
  .github/eos-s3_test.json
  .github/workflows/Pipeline.yml
  .github/xc7_test.json
  f4pga/__init__.py
  f4pga/common.py
  f4pga/common_modules/analysis.py
  f4pga/common_modules/synth.py
  f4pga/platforms/ql-eos-s3.json
  f4pga/setup.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/fasm2bels.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_binary.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_bitheader.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_jlink.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_openocd.f4pga.sh
Labels: Enhancement, CI: Github Actions, F4PGA

#596 Use extra verbose mode for f4pga CI test
  .github/workflows/Pipeline.yml
Labels: Enhancement, CI: Github Actions

#597 docs/changes: show 5
  docs/changes.yml
Labels: Enhancement, Documentation

#598 f4pga/setup: if git is available, append commit sha to version
  f4pga/setup.py
Labels: Enhancement, F4PGA

#599 f4pga/wrappers: do not use shell scripts for quicklogic's 'write_*' commands
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/write_binary.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_bitheader.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_jlink.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_openocd.f4pga.sh
Labels: Enhancement, SymbiFlow

#602 f4pga/wrappers/sh/quicklogic: cleanup
  f4pga/setup.py
  f4pga/wrappers/sh/quicklogic/analysis.f4pga.sh
  f4pga/wrappers/sh/quicklogic/env
  f4pga/wrappers/sh/quicklogic/fasm2bels.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_bitstream.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_constraints.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_libfile.f4pga.sh
  f4pga/wrappers/sh/quicklogic/pack.f4pga.sh
  f4pga/wrappers/sh/quicklogic/place.f4pga.sh
  f4pga/wrappers/sh/quicklogic/repack.f4pga.sh
  f4pga/wrappers/sh/quicklogic/route.f4pga.sh
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/quicklogic/vpr_common.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_fasm.f4pga.sh
Labels: Enhancement, SymbiFlow

#576 arch-defs tarballs now include usable environment and requirements files
  .github/scripts/activate.sh
  .github/scripts/prepare_environment.sh
  .github/workflows/Pipeline.yml
  docs/changes.yml
  f4pga-env
  f4pga/__init__.py
Labels: Enhancement, CI: Github Actions, F4PGA

#603 docs: move 'understanding' from f4pga-examples as 'f4pga/Deprecated'
  docs/f4pga/Deprecated.rst
  docs/f4pga/index.rst
  docs/flows/f4pga.rst
  docs/flows/index.rst
  docs/index.rst
Labels: Documentation, SymbiFlow

#605 docs/changes: update and show 6
  docs/changes.yml
Labels: Enhancement, Documentation

#608 docs/getting-started: section 'Loading bitstreams' moved from arch-defs
  docs/conf.py
  docs/environment.yml
  docs/getting-started.rst
Labels: Enhancement, Documentation

#588 Update documentation
  .github/workflows/Pipeline.yml
  README.md
  docs/changes.yml
  docs/conf.py
  docs/getting-started.rst
  docs/glossary.rst
  docs/index.rst
  scripts/activate.sh
  scripts/prepare_environment.sh
Labels: Enhancement, Documentation

#614 f4pga/wrappers/sh/xc7/vpr_common: use '--' to separate additional VPR options
  f4pga/wrappers/sh/xc7/vpr_common.f4pga.sh
Labels: Enhancement, SymbiFlow

#612 f4pga/wrappers: cleanup
  f4pga/platforms/ql-eos-s3.json
  f4pga/setup.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/generate_constraints.py
  f4pga/wrappers/sh/quicklogic/analysis.f4pga.sh
  f4pga/wrappers/sh/quicklogic/fasm2bels.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_bitstream.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_constraints.f4pga.sh
  f4pga/wrappers/sh/quicklogic/generate_libfile.f4pga.sh
  f4pga/wrappers/sh/quicklogic/pack.f4pga.sh
  f4pga/wrappers/sh/quicklogic/place.f4pga.sh
  f4pga/wrappers/sh/quicklogic/ql.f4pga.sh
  f4pga/wrappers/sh/quicklogic/repack.f4pga.sh
  f4pga/wrappers/sh/quicklogic/route.f4pga.sh
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/quicklogic/vpr_common.f4pga.sh
  f4pga/wrappers/sh/quicklogic/write_fasm.f4pga.sh
  f4pga/wrappers/sh/vpr_run.py
  f4pga/wrappers/sh/xc7/generate_constraints.f4pga.sh
  f4pga/wrappers/sh/xc7/pack.f4pga.sh
  f4pga/wrappers/sh/xc7/place.f4pga.sh
  f4pga/wrappers/sh/xc7/synth.f4pga.sh
  f4pga/wrappers/sh/xc7/vpr_common.f4pga.sh
  f4pga/wrappers/sh/xc7/write_bitstream.f4pga.sh
  f4pga/wrappers/sh/xc7/write_fasm.f4pga.sh
  test/test_wrappers.py
Labels: Enhancement, SymbiFlow

#570 Shrink part-db
  f4pga/__init__.py
  f4pga/part_db.json
Labels: Enhancement, F4PGA

#610 Unify stage declarations with stage options
  f4pga/flow_config.py
  f4pga/platforms/ql-eos-s3.json
  f4pga/platforms/ql-k4n8_fast.json
  f4pga/platforms/ql-k4n8_slow.json
  f4pga/platforms/xc7a100t.json
  f4pga/platforms/xc7a200t.json
  f4pga/platforms/xc7a50t.json
  f4pga/stage.py
Labels: Enhancement, F4PGA

#615 f4pga: use YAML instead of JSON
  f4pga/__init__.py
  f4pga/part_db.json
  f4pga/part_db.yml
  f4pga/platforms.yml
  f4pga/platforms/ql-eos-s3.json
  f4pga/platforms/ql-k4n8_fast.json
  f4pga/platforms/ql-k4n8_slow.json
  f4pga/platforms/xc7a100t.json
  f4pga/platforms/xc7a200t.json
  f4pga/platforms/xc7a50t.json
  f4pga/requirements.txt
  f4pga/setup.py
Labels: Enhancement, F4PGA

#617 f4pga: do not use wildcard imports
  f4pga/__init__.py
  f4pga/common_modules/analysis.py
  f4pga/common_modules/fasm.py
  f4pga/common_modules/generic_script_wrapper.py
  f4pga/common_modules/io_rename.py
  f4pga/common_modules/mkdirs.py
  f4pga/common_modules/pack.py
  f4pga/common_modules/place.py
  f4pga/common_modules/place_constraints.py
  f4pga/common_modules/route.py
  f4pga/common_modules/synth.py
Labels: Enhancement, F4PGA

#604 f4pga: yosys TCL wrappers moved from f4pga-arch-defs
  f4pga/__init__.py
  f4pga/common_modules/synth.py
  f4pga/setup.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/xc7/synth.f4pga.sh
  f4pga/wrappers/tcl/__init__.py
  f4pga/wrappers/tcl/__main__.py
  f4pga/wrappers/tcl/eos-s3/conv.f4pga.tcl
  f4pga/wrappers/tcl/eos-s3/synth.f4pga.tcl
  f4pga/wrappers/tcl/ice40/conv.f4pga.tcl
  f4pga/wrappers/tcl/ice40/synth.f4pga.tcl
  f4pga/wrappers/tcl/qlf_k4n8/conv.f4pga.tcl
  f4pga/wrappers/tcl/qlf_k4n8/synth.f4pga.tcl
  f4pga/wrappers/tcl/xc7/conv.f4pga.tcl
  f4pga/wrappers/tcl/xc7/synth.f4pga.tcl
Labels: Enhancement, Dependencies, F4PGA, SymbiFlow

#619 f4pga/setup: same installation regardless of FPGA_FAM
  f4pga/setup.py
Labels: Enhancement, SymbiFlow

#620 f4pga: add submodule 'flows'
  f4pga/__init__.py
  f4pga/context.py
  f4pga/flows/__init__.py
  f4pga/flows/argparser.py
  f4pga/flows/cache.py
  f4pga/flows/commands.py
  f4pga/flows/common.py
  f4pga/flows/common_modules/__init__.py
  f4pga/flows/common_modules/analysis.py
  f4pga/flows/common_modules/fasm.py
  f4pga/flows/common_modules/generic_script_wrapper.py
  f4pga/flows/common_modules/io_rename.py
  f4pga/flows/common_modules/mkdirs.py
  f4pga/flows/common_modules/pack.py
  f4pga/flows/common_modules/place.py
  f4pga/flows/common_modules/place_constraints.py
  f4pga/flows/common_modules/route.py
  f4pga/flows/common_modules/synth.py
  f4pga/flows/flow.py
  f4pga/flows/flow_config.py
  f4pga/flows/inspector.py
  f4pga/flows/module.py
  f4pga/flows/part_db.yml
  f4pga/flows/platforms.yml
  f4pga/flows/requirements.txt
  f4pga/flows/runner.py
  f4pga/flows/stage.py
  f4pga/requirements.txt
  f4pga/setup.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/tcl/__init__.py
Labels: Enhancement, F4PGA

#616 Use black for Python formatting
  .github/workflows/Pipeline.yml
  f4pga/__init__.py
  f4pga/context.py
  f4pga/flows/__init__.py
  f4pga/flows/argparser.py
  f4pga/flows/cache.py
  f4pga/flows/commands.py
  f4pga/flows/common.py
  f4pga/flows/common_modules/analysis.py
  f4pga/flows/common_modules/fasm.py
  f4pga/flows/common_modules/generic_script_wrapper.py
  f4pga/flows/common_modules/io_rename.py
  f4pga/flows/common_modules/mkdirs.py
  f4pga/flows/common_modules/pack.py
  f4pga/flows/common_modules/place.py
  f4pga/flows/common_modules/place_constraints.py
  f4pga/flows/common_modules/route.py
  f4pga/flows/common_modules/synth.py
  f4pga/flows/flow.py
  f4pga/flows/flow_config.py
  f4pga/flows/inspector.py
  f4pga/flows/module.py
  f4pga/flows/runner.py
  f4pga/flows/stage.py
  f4pga/pyproject.toml
  f4pga/setup.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/generate_constraints.py
  f4pga/wrappers/sh/vpr_run.py
  f4pga/wrappers/tcl/__init__.py
  f4pga/wrappers/tcl/__main__.py
  test/requirements.txt
Labels: Enhancement, CI: Github Actions, F4PGA, SymbiFlow

#621 docs/changes: add 7
  docs/changes.py
  docs/changes.yml
  scripts/prepare_environment.sh
Labels: Enhancement, Dependencies, CI: Github Actions, Documentation

#625 f4pga: split_inouts moved from arch-defs
  f4pga/flows/common_modules/synth.py
  f4pga/setup.py
  f4pga/utils/__init__.py
  f4pga/utils/split_inouts.py
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/xc7/synth.f4pga.sh
  scripts/prepare_environment.sh
Labels: Enhancement, Dependencies, F4PGA, SymbiFlow

#626 f4pga/wrappers/sh: convert vpr_common shell scripts to python
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/vpr_common.f4pga.sh
  f4pga/wrappers/sh/xc7/vpr_common.f4pga.sh
Labels: Enhancement, SymbiFlow

#630 f4pga/wrappers/sh: convert shell to python
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/ql.f4pga.sh
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/vpr_run.py
  f4pga/wrappers/sh/xc7/synth.f4pga.sh
Labels: Enhancement, SymbiFlow

#627 Update place module with path resolution that makes more sense
  f4pga/flows/common_modules/place.py
Labels: Enhancement, F4PGA

#628 Fix relocating files when paths for generic script wrapper are specified explicitely
  f4pga/flows/common_modules/generic_script_wrapper.py
  f4pga/flows/flow.py
Labels: Enhancement, F4PGA

#629 generic script wrapper: allow short flag names
  f4pga/flows/common_modules/generic_script_wrapper.py
Labels: Enhancement, F4PGA

#631 f4pga/utils: all python scripts moved from xc7 arch-defs tarballs
  f4pga/flows/common_modules/generic_script_wrapper.py
  f4pga/flows/platforms.yml
  f4pga/utils/eblif.py
  f4pga/utils/pcf.py
  f4pga/utils/vpr_io_place.py
  f4pga/utils/xc7/create_ioplace.py
  f4pga/utils/xc7/create_place_constraints.py
  f4pga/utils/xc7/fix_xc7_carry.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/tcl/xc7/synth.f4pga.tcl
  scripts/prepare_environment.sh
Labels: Enhancement, Dependencies, F4PGA, SymbiFlow
