Repository chipsalliance/f4pga, pull requests merged in 2022-09, with the labels that each got.

#613 f4pga/utils: all python scripts moved from quicklogic arch-defs tarballs
  f4pga/flows/platforms.yml
  f4pga/utils/quicklogic/convert_compile_opts.py
  f4pga/utils/quicklogic/create_lib.py
  f4pga/utils/quicklogic/pinmap_parse.py
  f4pga/utils/quicklogic/pp3/arch_import.py
  f4pga/utils/quicklogic/pp3/connections.py
  f4pga/utils/quicklogic/pp3/create_default_fasm.py
  f4pga/utils/quicklogic/pp3/create_ioplace.py
  f4pga/utils/quicklogic/pp3/create_place_constraints.py
  f4pga/utils/quicklogic/pp3/data_import.py
  f4pga/utils/quicklogic/pp3/data_structs.py
  f4pga/utils/quicklogic/pp3/eos-s3/iomux_config.py
  f4pga/utils/quicklogic/pp3/fasm2bels.py
  f4pga/utils/quicklogic/pp3/prepare_vpr_database.py
  f4pga/utils/quicklogic/pp3/routing_import.py
  f4pga/utils/quicklogic/pp3/rr_utils.py
  f4pga/utils/quicklogic/pp3/switchbox_model.py
  f4pga/utils/quicklogic/pp3/tile_import.py
  f4pga/utils/quicklogic/pp3/timing.py
  f4pga/utils/quicklogic/pp3/utils.py
  f4pga/utils/quicklogic/pp3/verilogmodule.py
  f4pga/utils/quicklogic/pp3/vis_switchboxes.py
  f4pga/utils/quicklogic/process_sdc_constraints.py
  f4pga/utils/quicklogic/qlf_k4n8/create_ioplace.py
  f4pga/utils/quicklogic/repacker/README.md
  f4pga/utils/quicklogic/repacker/arch_xml_utils.py
  f4pga/utils/quicklogic/repacker/block_path.py
  f4pga/utils/quicklogic/repacker/eblif_netlist.py
  f4pga/utils/quicklogic/repacker/netlist_cleaning.py
  f4pga/utils/quicklogic/repacker/packed_netlist.py
  f4pga/utils/quicklogic/repacker/pb_rr_graph.py
  f4pga/utils/quicklogic/repacker/pb_rr_graph_netlist.py
  f4pga/utils/quicklogic/repacker/pb_rr_graph_router.py
  f4pga/utils/quicklogic/repacker/pb_type.py
  f4pga/utils/quicklogic/repacker/repack.py
  f4pga/utils/quicklogic/repacker/tests/eblif_roundtrip/netlist.golden.eblif
  f4pga/utils/quicklogic/repacker/tests/eblif_roundtrip/test_eblif_roundtrip.py
  f4pga/utils/quicklogic/repacker/tests/identity.xsl
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1.eblif
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_0.golden.eblif
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_0.net
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_1.golden.eblif
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_1.net
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_2.golden.eblif
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_2.net
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_3.golden.eblif
  f4pga/utils/quicklogic/repacker/tests/lut_padding/lut1_3.net
  f4pga/utils/quicklogic/repacker/tests/lut_padding/test_lut_padding.py
  f4pga/utils/quicklogic/repacker/tests/packed_netlist_roundtrip/netlist.golden.net
  f4pga/utils/quicklogic/repacker/tests/packed_netlist_roundtrip/test_netlist_roundtrip.py
  f4pga/utils/quicklogic/repacker/tests/sort_netlist.xsl
  f4pga/utils/quicklogic/yosys_fixup_cell_names.py
  f4pga/wrappers/sh/__init__.py
  f4pga/wrappers/sh/quicklogic/ql.f4pga.sh
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/tcl/eos-s3/synth.f4pga.tcl
  scripts/prepare_environment.sh
Labels: Enhancement, Dependencies, F4PGA, SymbiFlow

#633 f4pga/wrappers/tcl: combine 'conv.*.tcl' into 'synth.*.tcl'
  f4pga/flows/common_modules/synth.py
  f4pga/flows/platforms.yml
  f4pga/setup.py
  f4pga/utils/__init__.py
  f4pga/utils/yosys_split_inouts.py
  f4pga/wrappers/sh/quicklogic/synth.f4pga.sh
  f4pga/wrappers/sh/xc7/synth.f4pga.sh
  f4pga/wrappers/tcl/__init__.py
  f4pga/wrappers/tcl/__main__.py
  f4pga/wrappers/tcl/eos-s3.f4pga.tcl
  f4pga/wrappers/tcl/eos-s3/conv.f4pga.tcl
  f4pga/wrappers/tcl/ice40.f4pga.tcl
  f4pga/wrappers/tcl/ice40/conv.f4pga.tcl
  f4pga/wrappers/tcl/qlf_k4n8.f4pga.tcl
  f4pga/wrappers/tcl/qlf_k4n8/conv.f4pga.tcl
  f4pga/wrappers/tcl/xc7.f4pga.tcl
  f4pga/wrappers/tcl/xc7/conv.f4pga.tcl
Labels: Enhancement, F4PGA, SymbiFlow

#634 Simplify synth module, always user read_verilog
  f4pga/flows/common_modules/synth.py
Labels: Enhancement, F4PGA

#637 f4pga/flows: support ice40
  .github/ice40_test.json
  .github/workflows/Pipeline.yml
  f4pga/context.py
  f4pga/flows/commands.py
  f4pga/flows/common_modules/nextpnr.py
  f4pga/flows/common_modules/nextpnr_ice40.py
  f4pga/flows/common_modules/yosys.py
  f4pga/flows/part_db.yml
  f4pga/flows/platforms.yml
  f4pga/setup.py
  f4pga/wrappers/tcl/__init__.py
  f4pga/wrappers/tcl/ice40.nextpnr.f4pga.tcl
  f4pga/wrappers/tcl/ice40.vpr.f4pga.tcl
Labels: Enhancement, CI: Github Actions, F4PGA

#639 Design Flows <Flows>
  docs/getting-started.rst
Labels: Documentation

#638 f4pga/flows: mv common_modules modules
  f4pga/flows/commands.py
  f4pga/flows/common.py
  f4pga/flows/common_modules/__init__.py
  f4pga/flows/modules/analysis.py
  f4pga/flows/modules/fasm.py
  f4pga/flows/modules/generic_script_wrapper.py
  f4pga/flows/modules/io_rename.py
  f4pga/flows/modules/mkdirs.py
  f4pga/flows/modules/nextpnr.py
  f4pga/flows/modules/nextpnr_ice40.py
  f4pga/flows/modules/pack.py
  f4pga/flows/modules/place.py
  f4pga/flows/modules/place_constraints.py
  f4pga/flows/modules/route.py
  f4pga/flows/modules/yosys.py
  f4pga/flows/platforms.yml
Labels: Enhancement, F4PGA

#575 Add HDL tests
  .github/workflows/Action.yml
  test/constraints/arty.xdc
  test/verilog/counter/arty_35.json
  test/verilog/counter/counter.v
  test/vhdl/counter/.gitignore
  test/vhdl/counter/Makefile
  test/vhdl/counter/arty_35.json
  test/vhdl/counter/counter.vhd
Labels: Enhancement, CI: Github Actions, F4PGA
